openapi: 3.0.3
info:
  title: Progress NW Catalog API
  description: API каталога вентиляционного оборудования. Оптимизировано для 1С и RAG.
  version: 1.0.0
servers:
  - url: https://progress-nw.ru/api/v1
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    ProductStatus:
      type: string
      enum:
        - active
        - archived
    CategoryRef:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
      required:
        - id
        - name
        - slug
    SpecificationItem:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        label:
          type: string
        value:
          type: string
        value_num:
          type: number
          nullable: true
        unit:
          type: string
          nullable: true
        group:
          type: string
          nullable: true
        is_filterable:
          type: boolean
          default: false
      required:
        - key
        - label
        - value
    ProductForRAG:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        category:
          $ref: '#/components/schemas/CategoryRef'
        price:
          type: number
        searchable_text:
          type: string
          description: Текст для векторизации RAG
        specifications:
          type: array
          items:
            $ref: '#/components/schemas/SpecificationItem'
        status:
          $ref: '#/components/schemas/ProductStatus'
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - name
        - category
        - price
        - searchable_text
        - specifications
        - status
        - updated_at
    ProductListResponse:
      type: object
      additionalProperties: false
      properties:
        meta:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            pages:
              type: integer
          required:
            - total
            - page
            - limit
            - pages
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductForRAG'
      required:
        - meta
        - data
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  responses:
    Unauthorized:
      description: Неверный API-Key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
paths:
  /products:
    get:
      summary: Список товаров
      tags:
        - Products
      parameters:
        - name: search
          in: query
          schema:
            type: string
        - name: updated_from
          in: query
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/{product_id}:
    get:
      summary: Детали товара
      tags:
        - Products
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductForRAG'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
tags:
  - name: Products
  - name: Categories
